
.header {
    height: 12em !important;
  }
  
.header .title {
  color: #fff;
  font-size: 4.5em !important;
  padding: 10vh 0 0 5vh;
  }

.header .subtitle {
  color: #fff;
  font-size: 22px;
  padding:4vh 0 0 5vh;
}